{% extends 'base.html'%} {% block content %} {% if user.is_authenticated %}
<h1>CAUSAS</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Causa</th>
      <th scope="col">Nro Expte</th>
      <th scope="col">Cliente</th>
      <th scope="col">Responsable</th>
      <th scope="col">Estado</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Descripcion</th>
    </tr>
  </thead>
  <tbody>
    {% if projects %} {% for project in projects %}
    <tr>
      <td><a href='{% url "project" project.id %}'>{{project.projectName}}</td>
      <td>{{project.projectId}}</td>
      <td>{{project.client}}</td>
      <td>{{project.assignedTo}}</td>
      <td>{{project.projectStatus}}</td>
      <td>{{project.projectStartDate}}</td>
      <td>{{project.projectDescription}}</td>
    </tr>
    {% endfor %} {%endif%}
  </tbody>
</table>
{% else %}
<div class='col-md-6 offset-md-3'>
  <h1>Iniciar sesion</h1>
  <form method="POST" action="{%url 'home' %}">
    {% csrf_token %}
    <form>
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          name="username"
          placeholder="Username"
          required
        />
      </div>

      <div class="mb-3">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Password"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary">Iniciar sesion</button>
    </form>
</div>

  {% endif %} {% endblock %}
</form>
