<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">del Castillo & Asociados</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Acciones
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{%url 'add_client' %}"
                >Nuevo cliente</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{%url 'add_project' %}"
                >Nueva causa</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="{%url 'add_appointment' %}"
                >Nuevo vencimiento</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}"
                >Cerrar sesion</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{%url 'clients' %}">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{%url 'home' %}">Causas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{%url 'appointments'%}"
            >Vencimientos</a
          >
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% endif %}
    </div>
  </div>
</nav>
